.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 175px;
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: $color-charcoal;
  text-transform: uppercase;

  background-color: $color-transparent;
  border: 2px solid $color-charcoal;
}
