.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  min-width: 175px;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $color-charcoal;
  background-color: $color-transparent;
  border: 2px solid $color-charcoal;
}
