.catalog {
  padding: 30px;

  @include vp-768 {
    padding: 79px 50px 53px 50px;
  }

  @include vp-1150 {
    padding: 129px 50px 57px 50px;
  }
}

.catalog__list {
  display: grid;
  justify-content: stretch;

  margin: 0;
  padding: 0;

  list-style-type: none;

  @include vp-768 {
    justify-content: center;
  }

  @include vp-1150 {
    justify-content: space-between;

    grid-template-columns: repeat(3, 316px);
    row-gap: 50px;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @include vp-768 {
    margin-bottom: 54px;
  }

  @include vp-1150 {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
