.contacts {
  display: grid;
  padding: 38px 0 39px 0;

  @include vp-768 {
    padding: 66px 0 54px 0;

    background-image: url("../img/svg/flag.svg");
    background-repeat: no-repeat;
    background-position: right 52px top 43px;
  }

  @include vp-1150 {
    padding: 71px 50px 104px 224px;

    column-gap: 23px;

    background-position: left 113px top 133px;

    grid-template-columns: 327px auto;
    grid-template-rows: repeat(3, min-content);
  }
}

.contacts__title {
  margin: 0 0 28px 0;
  padding: 0 30px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @include vp-768 {
    margin-bottom: 49px;
    padding: 0 50px;

    font-size: 43px;
    line-height: 50px;
  }

  @include vp-1150 {
    margin-top: 79px;
    margin-bottom: 37px;
    padding: 0;

    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__information {
  display: grid;
  align-items: start;
  margin-bottom: 62px;
  padding: 0 30px 0 29px;

  column-gap: 34px;

  grid-template-columns: fit-content(40%) 1fr;

  @include vp-768 {
    margin-bottom: 49px;
    padding: 0 50px;

    column-gap: 24px;

    grid-template-columns: fit-content(25%) minmax(25%, 231px) fit-content(25%) minmax(25%, 250px);
    justify-items: start;
    row-gap: 30px;
  }

  @include vp-1150 {
    margin-bottom: 83px;
    padding: 0;

    grid-column: 1/2;
    grid-template-columns: fit-content(40%) 1fr;
  }
  row-gap: 30px;
}

.contacts__subtitle {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;

  @include vp-768 {
    min-width: 54px;

    font-size: 17px;
  }
}

.contacts__text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;

  @include vp-768 {
    font-size: 17px;
  }
}

.contacts__text--email {
  position: relative;

  justify-self: start;

  &:hover,
  &:active {
    color: $color-puerto-rico-secondary;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 3px;
    left: 0;

    height: 1px;

    background-color: $color-downy-tertiary;

    @include vp-768 {
      bottom: 0;
    }

    @include vp-1150 {
      bottom: -3px;
    }
  }
}

.contacts__text--email:hover::before {
  background-color: $color-puerto-rico-secondary;
}

.contacts__text--email:active::before {
  background-color: rgba($color-puerto-rico-secondary, 10%);
}

.contacts__map {
  position: relative;

  min-width: 320px;
  height: 454px;
  margin-top: 0;
  margin-bottom: 41px;

  @include vp-768 {
    min-width: 768px;
    height: 457px;
    margin-bottom: 55px;
  }

  @include vp-1150 {
    width: 527px;
    min-width: 527px;
    height: 457px;
    margin: 0;

    grid-column: 2/-1;
    grid-row: 1/-1;
  }
  justify-self: stretch;
}

.contacts__map-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.contacts__map iframe {
  z-index: 1;

  display: block;
  width: 100%;
  height: 100%;

  border: none;
}

.contacts__write {
  min-width: 260px;
  margin: 0 30px;

  @include vp-768 {
    min-width: 230px;
    margin: 0;

    font-size: $fz-default;

    justify-self: center;
  }

  @include vp-1150 {
    justify-self: start;
  }
  justify-self: stretch;
}
