.contacts {
  display: grid;
  padding: 38px 0 39px 0;

  @include vp-768 {
    padding: 68px 0 57px 0;
  }

  @include vp-1150 {
    padding: 71px 50px 105px 224px;

    column-gap: 23px;

    grid-template-columns: 327px auto;
    grid-template-rows: repeat(3, min-content);
  }
}

.contacts__title {
  margin: 0 0 28px 0;
  padding: 0 30px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @include vp-768 {
    margin-bottom: 49px;
    padding: 0 50px;

    font-size: 43px;
    line-height: 50px;
  }

  @include vp-1150 {
    margin-top: 79px;
    margin-bottom: 35px;
    padding: 0;

    font-size: 50px;
    line-height: 57px;
  }
}

.contacts__information {
  display: grid;
  align-items: start;
  margin-bottom: 62px;
  padding: 0 30px;

  grid-template-columns: 76px auto;

  @include vp-768 {
    margin-bottom: 49px;
    padding: 0 50px;

    grid-template-columns: 81px 255px 82px 250px;
    justify-items: start;
    row-gap: 30px;
  }

  @include vp-1150 {
    margin-bottom: 85px;
    padding: 0;

    grid-column: 1/2;
    grid-template-columns: 78px auto;
  }
}

.contacts__subtitle {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;

  @include vp-768 {
    font-size: 17px;
  }
}

.contacts__text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;

  @include vp-768 {
    font-size: 17px;
  }

  &--email {
    position: relative;
  }

  &--email::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 1px;
    left: 0;

    height: 1px;

    background-color: $color-downy-tertiary;
  }
}

.contacts__map {
  width: 320px;
  height: 455px;
  margin: 0 0 42px 0;

  background-image: url("../img/background/map-mobile.png");
  background-repeat: no-repeat;

  justify-self: center;

  @include vp-768 {
    width: 768px;
    height: 457px;
    margin-bottom: 55px;

    background-image: url("../img/background/map-tablet.png");
    background-repeat: no-repeat;
  }

  @include vp-1150 {
    width: 527px;
    height: 457px;
    margin-bottom: 0;

    background-image: url("../img/background/map-desktop.png");
    background-repeat: no-repeat;

    grid-column: 2/-1;
    grid-row: 1/-1;
  }
}

.contacts__write {
  @include vp-768 {
    width: 230px;

    justify-self: center;
  }

  @include vp-1150 {
    margin: 0;
  }
}
