.daily-product {
  position: relative;

  padding: 31px 30px 42px 30px;
  display: grid;

  @include vp-768 {
    padding: 52px 50px 69px 50px;
    column-gap: 42px;

    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
  }

  @include vp-1150 {
    padding: 71px 50px 96px 50px;
    grid-template-columns: 117px 292px auto;
    grid-template-rows: auto auto min-content min-content;
    column-gap: 58px;
  }
}

.daily-product::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-image: url("../img/svg/zigzag-line-grey.svg");
  background-repeat: repeat-x;

  @include vp-768 {
    height: 17px;

    background-size: contain;
  }

  @include vp-1150 {
    height: 23px;
  }
}

.daily-product__title {
  position: relative;

  margin: 0 0 8px 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @include vp-768 {
    padding-right: 168px;
    margin-bottom: 38px;

    font-size: 43px;
    line-height: 50px;
    grid-column: 1/-1;
  }

  @include vp-1150 {
    padding-right: 330px;
    padding-top: 61px;
    margin-bottom: 35px;
    position: static;
    font-size: 53px;
    line-height: 57px;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 1;
    display: grid;
    grid-template-columns: 175px auto;
  }
}

.daily-product__title-text {
  display: block;
  margin-bottom: 4px;

  @include vp-768 {
    margin-bottom: 0;
  }

  @include vp-1150 {
    grid-column: 2;
  }
}

.daily-product__promo-text {
  font-weight: 700;
  font-size: $fz-default;
  line-height: 20px;
  color: $color-downy;
  text-transform: uppercase;
  vertical-align: top;

  @include vp-768 {
    position: absolute;
    top: 5px;
    right: 0;

    width: 126px;

    line-height: 17px;
    text-align: center;
  }

  @include vp-1150 {
    grid-row: 1;
    position: static;
    padding-top: 8px;
    width: 164px;
  }
}

.daily-product__promo-text br {
  display: none;

  @include vp-768 {
    display: inline;
  }
}

.daily-product__description {
  margin-bottom: 28px;

  @include vp-768 {
    margin-bottom: 54px;
  }

  @include vp-1150 {
    grid-column: 2/3;
    margin-bottom: 111px;
  }
}

.daily-product__text-description {
  margin: 0 0 20px 0;

  font-size: 15px;
  color: $color-charcoal;

  @include vp-768 {
    margin-bottom: 40px;

    font-size: 17px;
    line-height: 30px;
  }

  @include vp-1150 {
    margin-bottom: 50px;
  }
}

.daily-product__text-description br {
  display: none;

  @include vp-1150 {
    display: inline;
  }
}

.daily-product__list {
  margin: 0;

  font-size: 15px;
  line-height: 20px;
  color: $color-charcoal;
}

.daily-product__item {
  display: grid;
  padding: 8px 0 11px 0;

  border-bottom: 1px solid $color-whisper;

  grid-template-columns: 88px auto;
  column-gap: 10px;

  @include vp-768 {
    grid-template-columns: 87px auto;
  }

  @include vp-1150 {
    padding: 7px 0 13px 0;

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      padding-top: 6px;
    }
  }
}

.daily-product__value {
  margin: 0;
}

.daily-product__img-wrapper {
  margin-bottom: 26px;

  line-height: 0;

  @include vp-768 {
    width: 334px;
    height: auto;
    margin-top: 13px;
    margin-bottom: 0;

    grid-column: 2/-1;
    grid-row: 2/-1;
  }

  @include vp-1150 {
    width: 525px;
    height: 636px;
    margin-top: 0;
    grid-row: 1/-1;
    grid-column: -2/-1;
  }
  justify-self: center;
}

.daily-product__img {
  width: 100%;

  @include vp-1150 {
    height: 100%;
  }
}

.daily-product__price {
  display: block;
  margin-bottom: 24px;

  font-weight: 700;
  text-align: center;
  color: $color-charcoal;

  @include vp-768 {
    font-size: 20px;
    padding: 0 12px 0 10px;
  }

  @include vp-1150 {
    align-self: end;
    margin-bottom: 31px;
    grid-column: 2/3;
  }
}

.daily-product__button {
  @include vp-768 {
    align-self: end;
    min-width: 292px;

    font-size: 17px;
  }

  @include vp-1150 {
    grid-column: 2/3;
  }
}
