.hero {
  position: relative;

  background-color: $color-snow;
  background-image: url("../img/background/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% -18px;

  @include retina {
    background-image: url("../img/background/hero-mobile@2x.png");
    background-size: 320px auto;
  }

  @include vp-768 {
    background-image: url("../img/background/hero-tablet.png");
    background-position: 50% -65px;

    @include retina {
      background-image: url("../img/background/hero-tablet@2x.png");
      background-size: 768px auto;
    }
  }

  @include vp-1150 {
    background-image: url("../img/background/hero-desktop.png");

    @include retina {
      background-image: url("../img/background/hero-desktop@2x.png");
      background-size: 1150px auto;
    }
  }

  &::before {
    @include vp-768 {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 24px;

      background-image: url("../img/svg/zigzag-line-white.svg");
      background-repeat: repeat-x;
    }

    @include vp-1150 {
      bottom: -17px;

      height: 34px;

      background-image: url("data:image/svg+xml,%3Csvg width='63' height='34' viewBox='0 0 63 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1163.6 0C1147.85 0 1147.85 14 1132.21 14C1116.57 14 1116.46 0 1100.81 0C1085.17 0 1085.06 14 1069.42 14C1053.67 14 1053.67 0 1037.91 0C1022.16 0 1022.16 14 1006.52 14C990.766 14 990.766 0 975.124 0C959.371 0 959.371 14 943.728 14C928.085 14 927.648 0 912.005 0C896.252 0 896.252 14 880.609 14C864.966 14 864.748 0 849.105 0C833.352 0 833.352 14 817.709 14C801.957 14 801.957 0 786.205 0C770.452 0 770.452 14 754.809 14C739.057 14 739.057 0 723.414 0C707.771 0 707.552 14 691.8 14C676.048 14 676.048 0 660.405 0C644.652 0 644.652 14 629.009 14C613.257 14 613.257 0 597.505 0C581.752 0 581.752 14 566.109 14C550.357 14 550.357 0 534.714 0C518.962 0 518.962 14 503.319 14C487.566 14 487.566 0 471.923 0C456.171 0 456.171 14 440.419 14C424.666 14 424.666 0 408.914 0C393.162 0 393.162 14 377.409 14C361.657 14 361.657 0 345.905 0C330.152 0 330.152 14 314.4 14C298.648 14 298.648 0 282.895 0C267.143 0 267.143 14 251.391 14C235.638 14 235.638 0 219.886 0C204.134 0 204.134 14 188.491 14C172.738 14 172.738 0 156.986 0C141.234 0 141.234 14 125.481 14C109.729 14 109.729 0 93.9765 0C78.2242 0 78.2242 14 62.4718 14C46.7195 14 46.7195 0 30.9671 0C15.6524 0 15.6523 14 -0.099998 14C-15.8523 14 -15.8523 0 -31.4953 0C-47.1383 0 -47.2477 14 -63 14V34H1195V14C1179.25 14 1179.25 0 1163.6 0Z' fill='white'/%3E%3C/svg%3E ");
    }
  }
}

.hero__container {
  @include vp-768 {
    padding: 0 50px;
  }
}

.hero__title {
  margin: 0;
  padding: 72px 30px 120px 30px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @include vp-768 {
    padding-top: 90px;
    padding-bottom: 372px;

    font-size: 43px;
    line-height: 50px;
  }

  @include vp-1150 {
    padding-top: 93px;
    padding-bottom: 355px;

    font-size: 53px;
    line-height: 57px;
  }
}

.hero__title br {
  @include vp-768 {
    display: none;
  }
}

.hero__title br:last-child {
  @include vp-1150 {
    display: inline;
  }
}

.hero__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @include vp-768 {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}

.hero__link {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px 31px 30px;

  font-weight: 700;
  font-size: 19px;
  color: $color-default-white;

  background-color: $color-downy;

  @include vp-768 {
    padding: 25px 167px 34px 36px;

    font-size: 20px;
    line-height: 30px;
  }

  @include vp-1150 {
    padding: 25px 350px 34px 37px;
  }

  &:hover {
    margin-top: -5px;
    padding-bottom: 36px;

    background-color: $color-downy-secondary;
  }

  &:active {
    padding-bottom: 36px;

    background-color: $color-downy-secondary;
  }
}

.hero__link--toys {
  background-color: $color-puerto-rico;

  @include vp-1150 {
    padding-left: 36px;
  }

  &:hover,
  &:active {
    background-color: $color-puerto-rico-secondary;
  }
}

.hero__icon {
  position: absolute;
  top: 23px;
  right: 36px;

  fill: rgba($color-dark-cyan, 50%);

  @include vp-768 {
    top: 30px;
  }

  &--toys {
    top: 21px;
    right: 27px;

    @include vp-768 {
      top: 31px;
      right: 33px;
    }

    @include vp-1150 {
      right: 35px;
    }
  }
}

.hero__link:hover .hero__icon {
  fill: rgba($color-dark-cyan, 70%);
}

.hero__link:active .hero__icon {
  fill: rgba($color-dark-cyan, 30%);
}
