.hero {
  background-color: $color-snow;
  background-image: url("../img/background/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top -47px center;
  background-size: contain;
}

.hero__container {
  @include vp-768 {
    padding: 0 50px;
  }
}

.hero__title {
  margin: 0;
  padding: 73px 30px 120px 30px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @include vp-768 {
    padding-top: 154px;
    padding-bottom: 372px;

    font-size: 43px;
    line-height: 50px;
  }

  @include vp-1150 {
    padding-top: 158px;
    padding-bottom: 355px;

    font-size: 53px;
    line-height: 57px;
  }
}

.hero__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @include vp-768 {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}

.hero__item {
  background-color: $color-downy;

  &--dark {
    background-color: $color-puerto-rico;
  }
}

.hero__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 36px 18px 30px;

  font-weight: 700;
  font-size: 19px;
  color: $color-default-white;

  @include vp-768 {
    padding: 30px 36px 15px 36px;
  }

  &--toys {
    padding: 21px 27px 22px 30px;

    @include vp-768 {
      padding: 31px 33px 15px 36px;
    }
  }
}
