.intro {
  position: relative;

  background-color: $color-white-smoke;

  &::before {
    @include vp-768 {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 24px;

      background-image: url("../img/icons/zigzag-line-white.svg");
      background-repeat: repeat-x;
    }

    @include vp-1150 {
      bottom: -17px;

      height: 34px;

      background-image: url("data:image/svg+xml,%3Csvg width='58' height='34' viewBox='0 0 58 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M834.3 0C819.9 0 819.9 14 805.6 14C791.3 14 791.2 0 776.9 0C762.6 0 762.5 14 748.2 14C733.8 14 733.8 0 719.4 0C705 0 705 14 690.7 14C676.3 14 676.3 0 662 0C647.6 0 647.6 14 633.3 14C619 14 618.6 0 604.3 0C589.9 0 589.9 14 575.6 14C561.3 14 561.1 0 546.8 0C532.4 0 532.4 14 518.1 14C503.7 14 503.7 0 489.3 0C474.9 0 474.9 14 460.6 14C446.2 14 446.2 0 431.9 0C417.6 0 417.4 14 403 14C388.6 14 388.6 0 374.3 0C359.9 0 359.9 14 345.6 14C331.2 14 331.2 0 316.8 0C302.4 0 302.4 14 288.1 14C273.7 14 273.7 0 259.4 0C245 0 245 14 230.7 14C216.3 14 216.3 0 202 0C187.6 0 187.6 14 173.2 14C158.8 14 158.8 0 144.4 0C130 0 130 14 115.6 14C101.2 14 101.2 0 86.8 0C72.4 0 72.4 14 58 14C43.6 14 43.6 0 29.2 0C14.8 0 14.8 14 0.399994 14C-14 14 -14 0 -28.4 0C-42.8 0 -42.8 14 -57.1 14C-71.5 14 -71.5 0 -85.9 0C-100.3 0 -100.3 14 -114.7 14C-129.1 14 -129.1 0 -143.5 0C-157.9 0 -157.9 14 -172.3 14C-186.7 14 -186.7 0 -201.1 0C-215.1 0 -215.1 14 -229.5 14C-243.9 14 -243.9 0 -258.2 0C-272.5 0 -272.6 14 -287 14V34H863V14C848.6 14 848.6 0 834.3 0Z' fill='white'/%3E%3C/svg%3E ");
    }
  }
}

.intro__container {
  padding: 73px 30px 73px 30px;

  @include vp-768 {
    padding: 36px 50px 74px 50px;
  }

  @include vp-1150 {
    padding: 37px 50px 95px 50px;
  }
}

.intro__title {
  margin: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @include vp-768 {
    font-size: 43px;
    line-height: 50px;
  }

  @include vp-1150 {
    font-size: 53px;
    line-height: 57px;
  }
}
