.intro {
  position: relative;

  background-color: $color-white-smoke;

  &::before {
    @include vp-768 {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 24px;

      background-image: url("../img/svg/zigzag-line-white.svg");
      background-repeat: repeat-x;
    }
  }
}

.intro__container {
  padding: 74px 30px;

  @include vp-768 {
    padding: 101px 50px 63px 50px;
  }

  @include vp-1150 {
    padding: 102px 50px 79px 50px;
  }
}

.intro__title {
  margin: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @include vp-768 {
    font-size: 43px;
    line-height: 50px;
  }

  @include vp-1150 {
    font-size: 53px;
    line-height: 57px;
  }
}
