.main-header {
  position: relative;
  z-index: 1;

  width: 100%;
  min-height: 80px;

  border-top: 1px solid $color-whisper;

  @include vp-768 {
    min-height: 89px;
    padding: 0 50px;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;

    height: 1px;

    background-color: $color-whisper;
  }
}

.main-header--no-js .main-header__navigation {
  @include vp-767 {
    position: static;

    display: block;
    padding-top: 80px;
  }
}

.main-header--no-js .main-header__button {
  display: none;
}

.main-header--no-js::before {
  @include vp-767 {
    top: 79px;
    bottom: auto;
  }
}

.main-header__logo {
  position: absolute;
  top: 22px;
  left: 50%;
  z-index: 2;

  transform: translateX(-50%);

  @include vp-768 {
    left: 48px;

    transform: none;
  }

  @include vp-1150 {
    top: 9px;
    left: 50%;

    transform: translateX(-50%);
  }
}

.main-header__button {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 21px;
  height: 20px;
  margin: 0 0 0 auto;

  background-color: $color-transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  @include vp-768 {
    display: none;
  }

  &--closed {
    background-image: url("../img/svg/hamburger.svg");
  }

  &--is-open {
    background-image: url("../img/svg/cross.svg");
  }

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.main-header__navigation {
  position: absolute;
  top: 79px;
  left: 0;

  width: 100%;

  @include vp-768 {
    top: 0;
  }

  &--closed {
    display: none;
  }

  &--is-open {
    display: block;
  }
}

.main-header__text {
  position: absolute;
  right: 50px;
  bottom: -45px;

  display: none;

  font-size: 15px;
  color: $color-charcoal;

  @include vp-768 {
    display: block;
  }
}
