.main-footer {
  padding: 25px 30px 23px;
  background-color: $color-white-smoke;
}

.main-footer__social {
  padding: 0 0 28px;
  border-bottom: 1px solid $color-whisper-secondary;

}

.main-footer__copyright {
  padding: 29px 0 0;
}

.main-footer__copyright-text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}

.main-footer__copyright-link {

}
