.main-footer {
  background-color: $color-white-smoke;
}

.main-footer__container {
  position: relative;

  padding: 29px 30px 18px 30px;

  @include vp-768 {
    display: flex;
    justify-content: space-between;
    padding: 51px 50px 58px 50px;
  }

  &::before {
    content: "";
    position: absolute;
    right: 30px;
    bottom: 50%;
    left: 30px;

    height: 1px;

    background-color: $color-whisper-secondary;

    @include vp-768 {
      display: none;
    }
  }
}

.main-footer__logo {
  display: none;

  @include vp-768 {
    display: block;
  }
}

.main-footer__logo-image {
  fill: $color-default-black;
}

.main-footer__logo:hover .main-footer__logo-image {
  fill: $color-puerto-rico-secondary;
}

.main-footer__logo:active .main-footer__logo-image {
  fill: rgba($color-puerto-rico-secondary, 30%);
}

.main-footer__social {
  margin: 0 auto 52px;

  @include vp-768 {
    margin: 0;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 182px;
  margin: 0 auto;

  @include vp-768 {
    margin: 0;
  }
}

.main-footer__copyright-text {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  text-align: center;
}

.main-footer__copyright-svg {
  fill: $color-downy;
}

.main-footer__copyright-link:hover .main-footer__copyright-svg {
  fill: $color-puerto-rico-secondary;
}

.main-footer__copyright-link:active .main-footer__copyright-svg {
  fill: rgba($color-puerto-rico-secondary, 30%);
}
