.main-footer {
  background-color: $color-white-smoke;
}

.main-footer__container {
  position: relative;

  padding: 29px 30px 18px 30px;

  @include vp-768 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 50px 58px 50px;
  }

  @include vp-1150 {
    padding-bottom: 50px;
  }
}

.main-footer__logo {
  display: none;

  @include vp-768 {
    display: block;
  }
}

.main-footer__logo-image {
  fill: $color-default-black;
}

.main-footer__logo:hover .main-footer__logo-image {
  fill: $color-puerto-rico-secondary;
}

.main-footer__logo:active .main-footer__logo-image {
  fill: rgba($color-puerto-rico-secondary, 30%);
}

.main-footer__social {
  margin: 0 auto 30px;

  @include vp-768 {
    margin: 0;
  }
}

.main-footer__copyright-link {
  position: relative;

  display: block;
  max-width: 260px;
  margin: 0 auto;
  padding: 30px 93px 14px 39px;

  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $color-default-black;

  border-top: 1px solid $color-whisper-secondary;

  @include vp-768 {
    margin: 0;
    padding: 7px 53px 14px 0;

    border: none;
  }

  @include vp-1150 {
    padding: 7px 55px 14px 0;
  }
}

.main-footer__copyright-svg {
  position: absolute;
  top: 23px;
  right: 39px;

  fill: $color-downy;

  @include vp-768 {
    top: 0;
    right: 0;
  }
}

.main-footer__copyright-link:hover .main-footer__copyright-svg {
  fill: $color-puerto-rico-secondary;
}

.main-footer__copyright-link:active .main-footer__copyright-svg {
  fill: rgba($color-puerto-rico-secondary, 30%);
}
