.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba($color-default-white, 90%);

  &--is-open {
    display: flex;
  }
}

.modal {
  width: 100%;
  max-width: 566px;
  margin: auto;
  padding: 30px 30px 46px 30px;

  background-color: $color-default-white;
  border: 1px solid $color-silver;
  box-shadow: 0 5px 10px 0 rgba($color-dark-green, 25%);

  @include vp-768 {
    padding: 37px 108px 46px 108px;
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
}

.modal__title-text {
  display: block;
  align-self: center;
  width: 176px;
  margin: 0 0 14px 0;
  padding-left: 4px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;

  @include vp-768 {
    width: 381px;
    margin: 0 -16px 11px -15px;
    padding: 0;

    font-size: 30px;
    line-height: 57px;
    text-align: center;
  }
}

.modal__form-text {
  margin: 0 0 21px 0;

  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: $color-charcoal;

  @include vp-768 {
    margin: 0 0 20px 0;

    font-size: $fz-default;
  }
}

.modal__list {
  display: grid;
  width: 100%;
  margin: 0 0 31px 0;
  padding: 0;

  list-style-type: none;

  gap: 7px;
  grid-template-columns: repeat(3, 1fr);
}

.modal__item {
  display: block;
}

.modal__control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 19px 19px 17px 19px;

  border: 2px solid rgba($color-charcoal, 10%);
  cursor: pointer;

  &:hover {
    border-color: rgba($color-charcoal, 30%);
  }
}

.modal__control-input:checked + .modal__control {
  border: 2px solid $color-downy;
}

.modal__control-label {
  font-weight: 700;
  font-size: $fz-default;
  line-height: 18px;
  text-align: center;
  color: $color-charcoal;
}

.modal__button {
  width: 100%;
  padding: 17px 16px 17px 16px;

  font-size: $fz-default;
  line-height: 18px;
  color: $color-default-white;

  background-color: $color-downy;
  border: none;

  &:hover {
    background-color: $color-downy-secondary;
  }

  &:active {
    color: rgba($color-default-white, 30%);

    background-color: $color-downy-secondary;
  }
}
