.order-form {
  position: relative;

  padding: 17px 30px 55px 30px;

  @include vp-768 {
    padding: 68px 0 50px 0;
  }

  @include vp-1150 {
    padding-top: 118px;
  }
}

.order-form__text {
  margin: 0 0 29px 0;

  font-size: 13px;
  line-height: 24px;
  color: $color-charcoal;

  @include vp-768 {
    margin-bottom: 64px;
    padding: 0 50px;

    font-size: 17px;
    line-height: 30px;
  }

  @include vp-1150 {
    margin-bottom: 78px;
    padding: 0 223px 0 225px;
  }
}

.order-form__fieldset {
  margin: 0 0 42px 0;
  padding: 0;

  @include vp-768 {
    display: grid;
    margin-bottom: 66px;
    padding: 16px 50px 0 50px;

    grid-template-columns: fit-content(50%) minmax(auto, 1fr);
  }

  @include vp-1150 {
    margin-bottom: 66px;
    padding: 0 225px 0 112px;
  }

  &--fio {
    margin-bottom: 33px;

    @include vp-768 {
      margin-bottom: 50px;
      padding-top: 0;

      grid-template-columns: 167px auto;
      grid-template-rows: repeat(3, min-content);
    }

    @include vp-1150 {
      margin-bottom: 50px;

      grid-template-columns: 115px auto;
    }
  }

  &--tel {
    margin-bottom: 33px;
    display: grid;

    @include vp-768 {
      margin-bottom: 7px;
      grid-template-columns: 167px auto;
    }

    @include vp-1150 {
      margin-bottom: 23px;
      grid-template-columns: 113px auto;
    }
  }

  &--email {
    display: grid;
    margin-bottom: 0;

    @include vp-768 {
      grid-template-columns: 167px auto;
    }

    @include vp-1150 {
      grid-template-columns: 113px auto;
    }
  }

  &--textarea {
    margin-bottom: 16px;
    display: grid;

    @include vp-768 {
      margin-bottom: 53px;
      grid-template-columns: 167px auto;
    }

    @include vp-1150 {
      margin-bottom: 50px;
      grid-template-columns: 113px auto;
    }
  }
}

.order-form__fieldset--color {
  @include vp-768 {
    position: relative;

    margin-bottom: 46px;
    padding: 52px 50px 52px 50px;

    grid-template-columns: fit-content(25%) minmax(auto, 1fr);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;

      width: 100vw;
      height: 100%;

      background-color: $color-white-smoke;
      transform: translate(-50%, -50%);
    }
  }

  @include vp-1150 {
    padding: 50px 137px 53px 112px;

    grid-template-columns: fit-content(25%) minmax(auto, 1fr);
  }
}

.order-form__fieldset-group {
  margin-bottom: 32px;

  @include vp-768 {
    position: relative;

    margin-bottom: 34px;
    padding: 31px 0 50px 0;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;

      width: 100vw;
      height: 100%;

      background-color: $color-white-smoke;
      transform: translate(-50%, -50%);
    }
  }

  @include vp-1150 {
    margin-bottom: 50px;
    padding: 47px 0 50px 0;
  }
}

.order-form__title {
  position: relative;

  margin: 0 0 34px 0;

  font-weight: 700;
  line-height: 18px;
  font-size: $fz-default;
  color: $color-downy;
  text-transform: uppercase;

  @include vp-768 {
    min-width: 169px;
    padding-right: 20px;
  }

  @include vp-1150 {
    min-width: 115px;
    margin-top: 2px;
  }

  &--color {
    @include vp-768 {
      margin-top: 15px;
      min-width: 167px;
    }

    @include vp-1150 {
      margin-top: 17px;
      min-width: 113px;
    }
  }

  &--fio {
    margin-bottom: 27px;

    @include vp-768 {
      grid-row: 1/-1;
      grid-column: 1/2;
      margin: 20px 0 0 0;
    }

    @include vp-1150 {
      margin: 23px 0 0 0;
    }
  }

  &--tel {
    margin-bottom: 5px;

    @include vp-768 {
      align-self: center;
    }

    @include vp-1150 {
      margin: 0;
    }
  }

  &--email {
    margin-bottom: 5px;

    @include vp-768 {
      align-self: center;
      margin-bottom: 2px;
    }

    @include vp-1150 {
      margin: 0;
    }
  }

  &--textarea {
    margin-bottom: 23px;

    @include vp-768 {
      margin: 17px 0 0 0;
      align-self: srart;
    }
  }
}

.order-form__title-text {
  background-color: $color-default-white;
  padding-right: 22px;

  &--color {
    padding: 0 16px 0 0;
  }

  &--fio {
    padding: 0 18px 0 0;
  }

  &--tel {
    padding: 0 28px 0 0;
    vertical-align: middle;
  }

  &--email {
    padding: 0 20px 0 0;
    vertical-align: middle;
  }

  &--textarea {
    vertical-align: middle;
  }

  @include vp-768 {
    background-color: $color-transparent;
  }
}

.order-form__title::before {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  background-color: $color-downy-tertiary;

  width: 100%;
  height: 1px;

  @include vp-768 {
    display: none;
  }
}

.order-form__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @include vp-768 {
    display: block;
  }

  &--checkbox {
    @include vp-768 {
      display: grid;

      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto;
      column-gap: 23px;
      row-gap: 28px;
    }

    @include vp-1150 {
      grid-template-columns: 242px 244px 242px;
      grid-template-rows: auto auto;
      column-gap: 20px;
    }
  }
}

.order-form__item {
  margin-bottom: 43px;

  font-weight: 700;
  line-height: 18px;

  @include vp-768 {
    margin-bottom: 36px;

    font-size: 19px;
  }

  @include vp-1150 {
    margin-bottom: 33px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    margin-bottom: 24px;

    @include vp-768 {
      margin-bottom: 58px;
    }
  }
}

.order-form__item--checkbox {
  @include vp-768 {
    margin-bottom: 0;
  }
}

.order-form__control {
  position: relative;

  display: block;
  padding-left: 61px;

  cursor: pointer;

  @include vp-768 {
    padding-left: 78px;
  }
}

.order-form__checkbox-control {
  position: relative;

  display: block;
  padding-left: 61px;

  cursor: pointer;

  @include vp-768 {
    padding: 15px 0 15px 80px;

    &--first,
    &--fifth,
    &--sixth {
      padding: 13px 0 17px 81px;
    }
  }

  @include vp-1150 {
    padding: 17px 0 13px 81px;

    &--first {
      padding: 18px 0 12px 81px;
      //margin-right: 13px;
    }

    &--second,
    &--third {
      padding: 18px 0 12px 81px;
    }
  }
}

.order-form__control-mark {
  position: absolute;
  top: 50%;
  left: 0;

  width: 38px;
  height: 38px;

  border: 2px solid $color-charcoal;
  transform: translateY(-50%);

  @include vp-768 {
    width: 52px;
    height: 52px;
  }

  &:hover {
    border-color: $color-downy-tertiary;
  }

  &:active {
    border-color: rgba($color-charcoal, 30%);
  }
}

.order-form__control-mark--radio {
  left: -1px;
  top: 47%;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  @include vp-768 {
    width: 50px;
    height: 50px;
    left: 0;
  }

  &:active {
    border-color: rgba($color-default-black, 30%);
  }
}

.order-form__control-input--radio:checked + .order-form__control-mark::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;

  width: 16px;
  height: 16px;

  background-color: $color-downy-tertiary;
  border-radius: 50%;
  transform: translateX(-50%) translateY(50%);

  @include vp-768 {
    width: 20px;
    height: 20px;
  }
}

.order-form__control-input--checkbox:checked + .order-form__control-mark::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;

  width: 24px;
  height: 17px;

  background-image: url("../img/svg/tick-small.svg");
  transform: translateX(-50%) translateY(50%);

  @include vp-768 {
    width: 33px;
    height: 22px;

    background-image: url("../img/svg/tick-large.svg");
  }
}

.order-form__control-label br {
  @include vp-768 {
    display: none;
  }
}

.order-form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  font-weight: 700;
  line-height: 18px;

  @include vp-768 {
    flex-direction: row;
    margin-bottom: 21px;

    font-size: 19px;

    grid-column: 2/-1;
    align-self: center;

    &:nth-last-child(2) {
      margin-bottom: 19px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__label-text {
  @include vp-768 {
    margin-right: 25px;
    padding: 20px 0 11px 0;

    &--surname {
      margin-right: 26px;
    }

    &--patronymic {
      margin-right: 27px;
      padding: 22px 0 11px 0;
    }
  }

  @include vp-1150 {
    margin-right: 24px;
    padding: 21px 0 12px 0;

    &--surname {
      margin-right: 25px;
      padding: 20px 0 12px 0;
    }

    &--patronymic {
      margin-right: 26px;
    }
  }
}

.order-form__field {
  flex-grow: 1;
  min-width: 260px;
  padding: 17px 10px 15px 0;

  font-size: 17px;
  line-height: 18px;
  color: $color-charcoal;

  background-color: $color-transparent;
  border: none;
  border-bottom: 2px solid $color-default-black;

  &--patronymic {
    padding: 17px 10px 14px 0;
  }

  @include vp-768 {
    padding: 17px 10px 11px 17px;

    font-size: 19px;
    align-self: flex-end;

    &--surname {
      padding: 16px 10px 11px 17px;
    }

    &--patronymic {
      padding: 16px 10px 13px 17px;
    }
  }

  @include vp-1150 {
    padding: 17px 10px 12px 17px;

    &--surname {
      padding: 16px 10px 11px 16px;
    }
  }

  &--tel {
    padding: 13px 10px 17px 0;
    background-position: top 9px right 7px;
    background-image: url("../img/svg/phone.svg");
    background-repeat: no-repeat;

    @include vp-768 {
      align-self: flex-end;
      padding: 13px 10px 14px 16px;
      background-position: top 14px right 27px;
    }

    @include vp-1150 {
      background-position: top 14px right 7px;
    }
  }

  &--email {
    padding: 14px 10px 15px 0;
    background-position: top 13px right 3px;
    background-image: url("../img/svg/mail.svg");
    background-repeat: no-repeat;

    @include vp-768 {
      align-self: flex-end;
      padding: 12px 10px 13px 17px;
      background-position: top 16px right 22px;
    }

    @include vp-1150 {
      background-position: top 16px right 4px;
    }
  }

  &::placeholder {
    color: rgba($color-default-black, 30%);
  }

  &:active {
    border-color: $color-downy-tertiary;
  }

  &:placeholder-shown:hover {
    background-color: rgba($color-default-black, 1%);
    border-color: $color-downy-tertiary;
  }

  &:focus-visible {
    border-bottom: 2px solid $color-downy-tertiary;
    outline: none;
  }

  &--tel:placeholder-shown:hover,
  &--email:placeholder-shown:hover {
    background-color: $color-transparent;
  }
}

.order-form__field--tel:placeholder-shown {
  background-image: url("../img/svg/phone-placeholder.svg");
}

.order-form__field--email:placeholder-shown {
  background-image: url("../img/svg/mail-placeholder.svg");
}

.order-form__textarea {
  min-width: 260px;
  min-height: 142px;
  padding: 15px;

  font-size: 17px;
  line-height: 18px;
  color: $color-default-black;

  border: 2px solid $color-charcoal;

  resize: none;

  @include vp-768 {
    font-size: 19px;
  }

  &::placeholder {
    color: rgba($color-default-black, 30%);
  }

  &:placeholder-shown:hover {
    border: 2px solid $color-downy-tertiary;
  }

  &:focus-visible {
    border: 2px solid $color-downy-tertiary;
    outline: none;
  }
}

.order-form__note {

  margin: 0 0 30px 0;

  font-size: 14px;
  line-height: 16px;
  color: $color-charcoal;

  @include vp-768 {
    position: absolute;
    right: 50px;
    bottom: 62px;
    left: 416px;
    margin: 0;

    font-size: 17px;
    line-height: 30px;
  }

  @include vp-1150 {
    right: 225px;
    bottom: 59px;
    left: 623px;
  }
}

.order-form__button {
  width: 260px;

  font-size: 17px;

  @include vp-768 {
    width: 230px;
    margin-left: 50px;
  }

  @include vp-1150 {
    margin-left: 225px;

    line-height: 17px;
  }
}
