.production {
  padding: 0 30px 58px 30px;

  @include vp-768 {
    padding: 0 50px 65px 50px;
  }

  @include vp-1150 {
    padding-bottom: 100px;
  }
}

.production__card {
  display: grid;
  margin: 0 auto;

  border: 1px solid $color-whisper;

  grid-template-rows: repeat(4, auto);

  @include vp-768 {
    max-width: 672px;
  }

  @include vp-1150 {
    max-width: 1050px;

    column-gap: 78px;

    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($color-default-black, 10%);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($color-default-black, 10%);
  }
}

.production__title {
  margin: 0;
  padding: 21px 13px 27px 91px;

  font-size: $fz-default;
  line-height: 24px;

  background-image: url("../img/svg/video.svg");
  background-repeat: no-repeat;
  background-position: left 33px top 35px;

  grid-row: 1/2;

  @include vp-768 {
    padding: 42px 40px 25px 107px;

    font-size: 20px;

    background-position: left 41px top 39px;

    grid-row: 2/3;
  }

  @include vp-1150 {
    padding: 96px 110px 6px 0;

    background-position: left 0 top 45px;

    grid-row: 1/2;
  }
}

.production__title br {
  @include vp-768 {
    display: none;
  }
}

.production__video {
  position: relative;

  overflow: hidden;
  justify-self: stretch;
  line-height: 0;

  @include vp-1150 {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  @include vp-1150 {
    width: 683px;
    height: 455px;
    justify-self: start;
  }
}

.production__youtube-video {
  width: 100%;
}

.production__play-button {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: $color-transparent;
  border: none;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}

.production__play-button:hover .production__play-button-icon {
  transform: scale(120%);
}

.production__play-button:active .production__play-button-icon {
  transform: scale(80%);
  opacity: 30%;
}

.production__text {
  margin: 0;
  padding: 35px 20px 41px 34px;

  font-size: 13px;
  color: $color-charcoal;

  @include vp-768 {
    padding: 0 40px 42px 40px;

    font-size: 15px;
    line-height: 30px;
  }

  @include vp-1150 {
    padding: 0 36px 35px 0;
  }
}

.production__link {
  width: 192px;
  margin-bottom: 33px;

  @include vp-768 {
    width: 584px;
    margin-bottom: 45px;

    font-size: $fz-default;
    line-height: 16px;
  }

  @include vp-1150 {
    align-self: start;
    width: 230px;

    justify-self: start;
  }
  justify-self: center;
}
