.product-card {
  display: grid;

  grid-template-rows: auto auto;

  @include vp-768 {
    grid-template-columns: auto 335px;
    grid-template-rows: none;
  }

  @include vp-1150 {
    grid-template-columns: none;
    grid-template-rows: 462px auto;
  }
}

.product-card__image-link {
  overflow: hidden;

  line-height: 0;

  @include vp-768 {
    width: 334px;
    height: auto;

    grid-column: 1/2;
  }

  @include vp-1150 {
    width: auto;
  }
  justify-self: stretch;
}

.product-card__image {
  width: 100%;
}

.product-card__description {
  display: grid;
  min-height: 179px;
  padding: 28px 32px 27px 28px;

  border: 1px solid $color-whisper;

  grid-template-columns: 1fr 21px;
  grid-template-rows: 1fr min-content min-content;

  @include vp-768 {
    min-height: 334px;
    padding: 27px 32px 26px 34px;

    grid-template-rows: min-content 1fr min-content;
  }

  @include vp-1150 {
    min-height: min-content;
    padding: 27px 31px 26px 27px;

    grid-row: 2/-1;
  }
}

.product-card__title-link {
  margin-bottom: 5px;

  color: inherit;

  grid-column: 1/-1;
}

.product-card__title {
  margin: 0;

  font-weight: 700;
  font-size: $fz-default;
  line-height: 24px;

  @include vp-768 {
    font-size: 20px;
  }
}

.product-card__parameters {
  margin-bottom: 17px;

  font-size: 13px;
  line-height: 30px;
  color: $color-charcoal;

  grid-column: 1/-1;

  @include vp-768 {
    font-size: 15px;
  }

  @include vp-1150 {
    margin-bottom: 14px;
  }
}

.product-card__price {
  position: relative;

  align-self: start;
  padding-top: 22px;

  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  @include vp-768 {
    padding-top: 22px;

    font-size: $fz-default;
  }
}

.product-card__price::before {
  content: "";
  position: absolute;
  top: 0;
  right: -28px;
  left: 0;

  height: 1px;

  background-color: $color-whisper;

  @include vp-1150 {
    right: -21px;
  }
}

.product-card__button {
  padding: 22px 0 0 0;

  background-color: $color-transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.product-card__button-icon {
  fill: rgba($color-default-black, 20%);
}

.product-card__button:hover .product-card__button-icon {
  fill: $color-downy;
}

.product-card__button:active .product-card__button-icon {
  fill: rgba($color-downy, 30%);
}

.product-card:hover .product-card__description {
  box-shadow: 0 6px 10px 0 rgba($color-default-black, 10%);
}

.product-card:active .product-card__description {
  box-shadow: 0 3px 5px 0 rgba($color-default-black, 10%);
}
