.reviews {
  position: relative;

  display: grid;
  padding: 28px 30px 45px 30px;

  @include vp-768 {
    padding: 83px 50px 68px 50px;

    background-image: url("../img/background/review.png");
    background-repeat: no-repeat;
    background-position: top left -50px;
    background-size: contain;

    grid-template-columns: auto 175px;
  }

  @include vp-1150 {
    padding: 78px 50px 67px 225px;

    background-position: top left 50px;
  }
}

.reviews__title {
  margin: 0 0 14px 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @include vp-768 {
    margin-bottom: 39px;

    font-size: 43px;
    line-height: 50px;
  }

  @include vp-1150 {
    margin-bottom: 35px;

    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  margin-bottom: 33px;

  @include vp-768 {
    margin-bottom: 0;

    grid-column: 1/-1;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0 0 33px 0;

  font-size: 15px;
  line-height: 30px;
  color: $color-charcoal;

  @include vp-768 {
    margin-bottom: 61px;

    font-size: 17px;
  }

  @include vp-1150 {
    margin-bottom: 44px;
  }
}

.reviews__author-info {
  @include vp-768 {
    display: flex;
    flex-direction: column;
  }
}

.reviews__author-name {
  font-weight: 700;
  line-height: 30px;

  @include vp-768 {
    font-size: 18px;
  }

  @include vp-1150 {
    font-size: 17px;
  }
}

.reviews__author-contacts {
  font-style: normal;
  color: $color-charcoal;
}

.reveiws__buttons-wrapper {
  display: flex;
  margin: 0 0 38px 0;

  border: 1px solid $color-whisper;

  justify-self: end;

  @include vp-768 {
    position: absolute;
    right: 50px;
    bottom: 30px;

    border-color: none;
  }
}

.reviews__button {
  width: 128px;
  height: 52px;
  padding: 13px 42px 13px 38px;

  background-color: $color-transparent;
  border: none;

  @include vp-768 {
    width: 86px;
    padding: 13px 18px;
  }

  &--previous {
    border-right: 1px solid $color-whisper;

    @include vp-768 {
      border: none;
    }
  }
}

.reviews__write {
  @include vp-768 {
    align-self: start;

    font-size: 17px;

    grid-column: -2/-1;
    grid-row: 1/2;
  }
}
