.social {
  width: 147px;

  @include vp-768 {
    padding-bottom: 5px;
  }
}

.social__list {
  display: grid;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
  column-gap: 20px;
  row-gap: 10px;

  grid-template-columns: repeat(3, 1fr);
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__icon {
  fill: $color-aubergine;
}

.social__link:hover .social__icon {
  fill: $color-puerto-rico-secondary;
}

.social__link:active .social__icon {
  fill: rgba($color-puerto-rico-secondary, 30%);
}
