.user-menu {
  @include vp-768 {
    display: flex;

    grid-column: 2/-1;
    justify-self: end;
  }
}

.user-menu__item {
  padding: 27px 30px 27px 30px;

  border-bottom: 1px solid $color-whisper;

  @include vp-768 {
    padding: 36px 31px 34px 33px;

    border-right: 1px solid $color-whisper;
    border-bottom: none;
    border-left: 1px solid $color-whisper;
  }

  &--cart {
    padding: 28px 30px 27px 30px;

    @include vp-768 {
      padding: 32px 0 31px 31px;

      border: none;
    }
  }
}

.user-menu__link {
  position: relative;

  padding-left: 46px;

  font-weight: 700;
  color: inherit;

  &--search {
    @include vp-768 {
      padding-left: 18px;
    }
  }

  &--cart {
    @include vp-768 {
      padding-left: 53px;
    }
  }
}

.user-menu__icon {
  position: absolute;
  top: 4px;
  left: 2px;

  width: 18px;
  height: 18px;

  fill: rgba($color-default-black, 20%);

  @include vp-768 {
    top: 0;
    left: 0;
  }

  &--cart {
    top: 2px;
    left: 0;

    width: 21px;

    @include vp-768 {
      margin-right: 30px;
    }
  }
}

.user-menu__text {
  &--search {
    @include vp-768 {
      display: none;
    }
  }
}

.user-menu__link:hover .user-menu__text {
  opacity: 60%;
}

.user-menu__link:active .user-menu__text {
  opacity: 30%;
}

.user-menu__link:hover .user-menu__icon {
  fill: $color-downy;
}

.user-menu__link:active .user-menu__icon {
  fill: rgba($color-downy, 20%);
}
