.zigzag {
  position: relative;
}

.zigzag::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-image: url("../img/icons/zigzag-line-grey.svg");
  background-repeat: repeat-x;

  @include vp-768 {
    height: 17px;
    background-image: url("../img/icons/zigzag-line-grey-tablet.svg");
  }

  @include vp-1150 {
    height: 23px;
    background-image: url("../img/icons/zigzag-line-grey-desktop.svg");
  }
}
