*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: $fz-default;
  line-height: 24px;
  color: $color-default-black;
}

body {
  width: 100%;
  height: 100%;
  background-color: $color-default-white;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}
