//Colors

$color-transparent:           rgba(255, 255, 255, 0);
$color-default-black:         #000000;
$color-default-white:         #ffffff;

$color-downy:                 #63d1bb;
$color-downy-secondary:       #59d5bc;
$color-downy-tertiary:        #62d1ba;
$color-puerto-rico:           #56c3b2;
$color-puerto-rico-secondary: #46c1ae;
$color-dark-cyan:             #149080;
$color-monte-carlo:           #6bc6b3;
$color-aubergine:             #231f20;
$color-charcoal:              #444444;
$color-white-smoke:           #f1f1f1;
$color-whisper:               #ececec;
$color-whisper-secondary:     #e5e5e5;
$color-silver:                #c6c6c6;
$color-snow:                  #f9f9f9;

//Typography

$fz-default:                  17px;

//Viewports

$vp-768:                      768px;
$vp-1150:                     1150px;
